<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload images</title>
</head>
<body>
<div>
    <form method="post" action="/file/images" enctype="multipart/form-data">
        <input type="file" size="30" name="file"/>
        <input type="submit" value="upload" class="button-new" style="margin-top:15px;"/>
    </form>
</div>
<p>origin: /file/img/1568007910_XGoChLmC.png</p>
<img src="/file/img/1568007910_XGoChLmC.png" alt="600">
<p>width:600px /file/img/1568007910_XGoChLmC_600.png</p>
<img src="/file/img/1568007910_XGoChLmC_600.png" alt="600">
<p>300x300 /file/img/1568007910_XGoChLmC_300x300.png</p>
<img src="/file/img/1568007910_XGoChLmC_300x300.png" alt="300x300">
<p>100x100 /file/img/1568007910_XGoChLmC_100x100.png</p>
<img src="/file/img/1568007910_XGoChLmC_100x100.png" alt="100x100">
</body>
</html>
